{% extends "home_page/wrapper.html" %}

{% block content %}
  <div class="container">
    <p align = "right">
      <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 16rem; backrgoundcolor = "silver";">
              <img src="static/home_page/image/card2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Long history</h5>
                <p class="card-text">
                  <strong>Что интерсного произошло?</strong>
                </p>
                <a href="/blog" class="btn btn-primary">Новости</a>
              </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
              <img src="static/home_page/image/card3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Long history</h5>
                <p class="card-text">
                  <strong>Кто любит читать</strong>
                </p>
                <a href="/blog" class="btn btn-primary">О нас</a>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
              <img src="static/home_page/image/card4.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Long history</h5>
                <p class="card-text">
                  Just read about us and SingUp!
                </p>
                <a href="/blog" class="btn btn-primary">Войти</a>
                </div>
              </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 16rem;">
              <img src="static/home_page/image/card5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Long history</h5>
                <p class="card-text">
                  Just read about us and SingUp!
                </p>
                <a href="/blog" class="btn btn-primary">Регистрация</a>
                </div>
              </div>
        </div>
      </div>
    </p>
  </div>
  <h1>{% include "home_page/includes/some_html.html" %}</h1>

  <p>Проверка работоспособности</p>

  {% include "home_page/includes/some_html.html" %}
  {% include "home_page/includes/some_html.html" %}
  {% endblock %}
