#Часть 4
"""Краткое краткое изложение:

Приведенный выше шаблон отображает переключатель для каждого вопроса. Каждый valueиз переключателей представляет собой идентификатор соответствующего вопроса. Каждый nameиз переключателей есть "choice". Это означает, что когда кто-то выбирает одну из переключателей и отправляет форму, он отправляет данные POST, choice=#где # - идентификатор выбранного варианта. Это основная концепция форм HTML.
Мы ставим форму - х actionк , и мы . Использование (в отличие от ) очень важно, потому что отправка этой формы изменит данные на стороне сервера. Всякий раз, когда вы создаете форму, которая изменяет данные на стороне сервера, используйте . Этот совет не относится только к Django; это просто хорошая практика веб-разработки.{% url 'polls:vote' question.id %}method="post"method="post"method="get"method="post"
forloop.counterуказывает, сколько раз forтег прошел через свой цикл
Поскольку мы создаем форму POST (которая может повлиять на изменение данных), нам нужно беспокоиться о подделках межсайтовых запросов. К счастью, вам не нужно слишком сильно беспокоиться, потому что Django поставляется с очень простой в использовании системой для защиты от него. Короче говоря, все формы POST, предназначенные для внутренних URL-адресов, должны использовать тег шаблона.{% csrf_token %}"""
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
