<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mp3</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>


<body>

  <style>
    body {
      margin: 0;
      background: url('/static/home_page/image/mercedes.png');
      background-size: 1540px 760px;
      background-repeat:no-repeat;
      background-position: 50% 0%;
      display: compact;
      font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  </style>
  <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  <div class="container">
    &copy; Все права защищены 2018
  </div>
</body>


</html>
